.suto-container {
    align-items: center;
    align-content: center;
    border: 2px, black !important;
    background-color: aquamarine;
}
.navbar {
    display: flex;
    justify-content: space-around;
}

.card {
    display:inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .navbar {
    justify-content:space-around;
} */