.yogie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 2em 0;
}

.yogie-btn {
  background-color: transparent;
  color: black;
  border: 0;
  display: block;
  margin-top: 5%;
}

.yogie-photo {
  border-radius: 25px;
}
