// .yogie-big-container
//     margin: 10em
//     button
//         color: red
//         background-color: yellow

// .yogie-small-container
//     h1
//         color: blue

.yogie
    &-big-container
        margin: 10em
        button
            color: red
            background-color: yellow
        p
            color: green
    &-small-container
        h1
            color: blue
        p
            color: red
