.nurd-logo {
  border-radius: 50%;
}

col {
  height: 100%;
  width: 50%;
}
.nurd-photo {
  margin: 10% auto 10% 30%;
  border-radius: 3%;
}

.nurd-bio {
  margin-top: 10rem;
}

.input-email {
  width: 70%;
}

#nurd-video {
  width: 90%;
  margin-left: 5%;
  align-content: center;
  border-top: 1px solid black;
  margin-bottom: 2rem;
}

#nurd-video h2 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

#nurd-video .video1 {
  width: 49%;
  height: 350px;
  margin-right: 1%;
}

#nurd-video .video2 {
  width: 49%;
  height: 350px;
  alig: center;
  margin-left: 1%;
}

.footer {
  background-color: rgb(240, 240, 240);
}

.nurd-reachMe {
  margin: 2rem;
}

.nurd-sosmed {
  margin-top: 12rem;
  margin-bottom: 1rem;
}

.nurd-sosmed1 {
  margin-left: 50%;
}
.nurd-sosmed2 {
  margin-left: 1rem;
}
.nurd-sosmed3 {
  margin-left: 1rem;
}

.nurd-sosmed4 {
  margin-left: 1rem;
}

.nurd-sosmed p {
  margin-top: 1rem;
  margin-left: 80%;
}
