.nurd-logo {
  width: 50px;
}

.content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nurdImage {
  margin: 3rem;
  border-radius: 5rem;
}
#about {
  margin: auto;
}

.myVideo {
  border-top: 1px solid #000;
}

.myVideo h2 {
  margin-top: 2rem;
}

.video1 {
  margin: 3rem;
}

.video2 {
  margin: 3rem;
}
